
<footer class="bg-black text-white py-14">
  <div class="max-w-[1110px] mx-auto px-6 lg:px-0 flex flex-col md:flex-row justify-between items-center gap-8">
    
    <div class="flex flex-col items-center md:items-start gap-6">
      <img src="/images/logo.svg" alt="Loopstudios" class="w-36">
      <ul class="flex flex-col md:flex-row gap-6 text-center">
        <li><a href="#" class="relative group pb-2">About<span class="absolute bottom-0 left-1/2 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-1/2 group-hover:left-1/4"></span></a></li>
        <li><a href="#" class="relative group pb-2">Careers<span class="absolute bottom-0 left-1/2 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-1/2 group-hover:left-1/4"></span></a></li>
        <li><a href="#" class="relative group pb-2">Events<span class="absolute bottom-0 left-1/2 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-1/2 group-hover:left-1/4"></span></a></li>
        <li><a href="#" class="relative group pb-2">Products<span class="absolute bottom-0 left-1/2 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-1/2 group-hover:left-1/4"></span></a></li>
        <li><a href="#" class="relative group pb-2">Support<span class="absolute bottom-0 left-1/2 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-1/2 group-hover:left-1/4"></span></a></li>
      </ul>
    </div>

    <div class="flex flex-col items-center md:items-end gap-4">
      <div class="flex gap-4">
        <a href="https://www.facebook.com/?locale=es_LA" class="relative group pb-2">
          <i class="fa-brands fa-square-facebook text-2xl"></i>
          <img src="/images/icon-facebook.svg" alt="facebook">
          <span class="absolute bottom-0 left-0 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-full"></span>
        </a>
        <a href="https://x.com/?lang=es" class="relative group pb-2">
          <i class="fa-brands fa-twitter text-2xl"></i>
          <img src="/images/icon-twitter.svg" alt="Twitter">
          <span class="absolute bottom-0 left-0 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-full"></span>
        </a>
        <a href="https://mx.pinterest.com" class="relative group pb-2">
          <i class="fa-brands fa-pinterest text-2xl"></i>
          <img src="/images/icon-pinterest.svg" alt="pinterest">
          <span class="absolute bottom-0 left-0 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-full"></span>
        </a>
        <a href="https://www.instagram.com/accounts/login/" class="relative group pb-2">
          <i class="fa-brands fa-instagram text-2xl"></i>
          <img src="/images/icon-instagram.svg" alt="Instagram">
          <span class="absolute bottom-0 left-0 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-full"></span>
        </a>
      </div>

      <p class="text-gray-500 font-light text-sm">
        © 2026 Loopstudios. All rights reserved.
      </p>
    </div>

  </div>
</footer>
