
<section 
  class="relative min-h-[650px] md:min-h-[650px] bg-cover bg-center bg-no-repeat flex items-center"
  style="background-image: url('/images/desktop/image-hero.jpg');"
>

  <div class="absolute inset-0 bg-black/30 md:bg-black/25"></div>

  <div class="relative z-10 max-w-7xl mx-auto px-6 md:px-10 lg:px-20 w-full">
    <div class="border-2 border-white p-6 md:p-10 max-w-md md:max-w-lg lg:max-w-xl">
      <h1 class="text-white text-4xl md:text-5xl lg:text-6xl font-light uppercase tracking-wide leading-tight">
        Immersive<br>experiences<br>that deliver
      </h1>
    </div>
  </div>
</section>
